/* Tailwind */
@import './tailwind.css';

/* Fonts */
@import './jalnan2.css';
@import './pretendardvariable.css';

html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Pretendard Variable';
  min-width: 375px;
  max-width: 500px;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (min-width: 500px) {
  html {
    display: flex;
    justify-content: center;
  }

  body {
    min-width: 500px;
    width: 500px;
    max-width: 500px;
    @apply shadow-2xl;
  }
}
